<a href="https://colab.research.google.com/github/snaily16/Tutorials/blob/master/Python_Basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in Python

Python has the following data types built-in by default, in these categories:

    Text Type:          str
    Numeric Types:      int, float, complex
    Sequence Types: 	list, tuple, range
    Mapping Type:       dict
    Set Types:          set, frozenset
    Boolean Type:       bool
    Binary Types:       bytes, bytearray, memoryview

## Strings

*   Can be enclosed in single quotes ('...') or double quotes ("...") with the same result 
*   \ can be used to escape quotes

In [ ]:
s="this is a string"

In [ ]:
"doesn't"

"doesn't"

In [ ]:
'doesn\'t'

In [ ]:
"\"Yes,\" they said."

'"Yes," they said.'

In [ ]:
s='First line.\nSecond line.'
print(s)

First line.
Second line.

In [ ]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote

In [ ]:
print(r'C:\some\name')

C:\some\name

### Multiline Strings
Using triple-quotes: `"""..."""` or `'''...'''`

End of lines are automatically included in the string, but it’s possible to prevent this by adding a **`\`** at the end of the line

In [ ]:
print(''' abc
''')

In [ ]:
print("""abc\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

abcUsage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

### Concatenation

In [ ]:
s = 'Hello ' + 'World'
print(s)

Hello World

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [ ]:
'py' 'thon' ' is super'

'python is super'

In [ ]:
prefix = 'Py'
print(prefix + 'thon')        # This only works with two literals though, not with variables or expressions

Python

### Repetition

Using * operator

In [ ]:
'py'*5

'pypypypypy'

In [ ]:
prefix='py'
suffix='thon'
print(prefix*3+suffix)

pypypython

### Indexing

Just like arrays in C or C++, strings can be indexed (subscripted), with the first character having index 0

     | P | y | t | h | o | n |
       0   1   2   3   4   5   6
       -6  -5  -4  -3  -2  -1

In [ ]:
s = 'Python' 
print(s[0])
print(s[5])

P
n

Indices may also be negative numbers, to start counting from the right

In [ ]:
print(s[-1])
print(s[-5])

n
y

In [ ]:
'helloworld'

### Slicing

While indexing is used to obtain individual characters, slicing allows you to obtain substring

    string_name[start index : end index]

In [ ]:
s='watermelon'
print(s[0:5])   # can also write s[:5] > 0 to 4th
print(s[5:])    # similar to s[5:10]

water
melon

In [ ]:
print(s[2:6])   # characters from position 2 to position 6 (excluded)

term

In [ ]:
print(s[-2:])   # characters from the second-last (included) to the end

on

We can concatenate this sliced strings

In [ ]:
s[5:]+s[:5]

'melonwater'

Python strings cannot be changed — they are **immutable.**

In [ ]:
s='bello'
s[0]='h'

TypeError: ignored

So if we want to replace this character we can use string slicing and concatenation

In [ ]:
s[1:]

'ello'

In [ ]:
'h'+s[1:]

'hello'

Or we can use replace function

    string.replace(old, new, count)
Only the first count occurrences are replaced

In [ ]:
s='bello'
s.replace('l', 'v')

'bevvo'

In [ ]:
s

'bello'

In [ ]:
s=s.replace('l','v',1)

### Length of String

In [ ]:
a = 'supercalifragilisticexpialidocious'
len(a)

34

### Some Built-in string methods

In [ ]:
s='My_Notebook_123'
print(s.upper())    # converts string to upper case
print(s.lower())    # converts string to lowercase
print(s.count('o')) # counts the occurence of letter 'o' in string

MY_NOTEBOOK_123
my_notebook_123
3

## Lists

Lists are used to store multiple items in a single variable.

Used to store collections of data

In [ ]:
my_list = [1,2,3,4]
print(my_list, type(my_list))

[1, 2, 3, 4] <class 'list'>

Lists might contain items of different types, but usually the items all have the same type.

In [ ]:
mixed_list = [1, 2, 'hi', 'bye', 3.14, [2,3]]
print(mixed_list)

[1, 2, 'hi', 'bye', 3.14, [2, 3]]

Similar to strings, we can do indexing and slicing in lists

In [ ]:
numbers = [0,1,2,3,4,5]
print(numbers[1], numbers[-2])
print(numbers[0:3])

1 4
[0, 1, 2]

Lists also support concatenation and repetition

In [ ]:
a = [1,2,3,4,5]
b =[6,7,8,9,10]
a+b*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

Lists are **mutable**

In [ ]:
a[3]=400
a

[1, 2, 3, 400, 5]

The built-in function len() also applies to lists

In [ ]:
len(a)

5

### append()

We can add new items at the end of the list, by using the append() method

In [ ]:
squares = [1,4,9,16]

In [ ]:
squares.append(25)
squares

[1, 4, 9, 16, 25]

### pop()

Removes the element at the specified position.

    list.pop(position)

In [ ]:
squares.pop(1)

9

In [ ]:
squares

[4, 16, 25]

### index()
Returns the position at the first occurrence of the specified value.

    list.index(element)

In [ ]:
squares.index(16)

1

### min() and max()

In [ ]:
a = [1, 34, 342, 4647, 123, -45, -462, 0, 959]
print(min(a))
print(max(a))

-462
4647

### Sort a list

In [ ]:
sort_a = sorted(a)
print(sort_a)

[-462, -45, 0, 1, 34, 123, 342, 959, 4647]

In [ ]:
a

[1, 34, 342, 4647, 123, -45, -462, 0, 959]

In [ ]:
a.sort()
print(a)

[-462, -45, 0, 1, 34, 123, 342, 959, 4647]

In [ ]:
a.reverse()

In [ ]:
a.clear()
a

[]

In [ ]:
a.extend([1,23,4])
a

[1, 23, 4]

In [ ]:
a+[2,3,4]

[1, 23, 4, 2, 3, 4]

## Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are **immutable**

Tuples are unchangeable, so you cannot add or remove items from it

In [ ]:
tup = 1234, 'hello', 3.12, 34
print(tup, type(tup))

(1234, 'hello', 3.12, 34) <class 'tuple'>

In [ ]:
t = (1,2,3)
print(t, type(t))

(1, 2, 3) <class 'tuple'>

Tuples also support concatenation and repetition and len() function

In [ ]:
v = (4,5)
t+v

(1, 2, 3, 4, 5)

In [ ]:
t[0]=3

TypeError: ignored

### Sequence unpacking

Sequence unpacking requires that there are as many variables on the left side of the equals sign as there are elements in the sequence

In [ ]:
a,b,c = t
print(a,b,c)

1 2 3

In [ ]:
x,*y = t
print(x,y)

1 [2, 3]

## Sets

* A set is an unordered collection with **no duplicate elements**. 
* Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
* Sets are **immutable**

In [ ]:
my_set = {1,2,3,4,5,6}
print(my_set, type(my_set))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [ ]:
s = {1,2,1,2}
print(s, type(s))

{1, 2} <class 'set'>

### Access set items

You cannot access items in a set by referring to an index or a key.

We can check if item is present in the set using **in** operator

In [ ]:
4 in my_set

True

In [ ]:
my_set[0]

TypeError: ignored

### Add new item

Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set.add(4)
my_set

{1, 2, 3, 4, 5, 6, 7}

### Remove item

To remove an item in a set, use the remove(), or the discard() method

In [ ]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.discard(7)
print(my_set)

{1, 2, 4, 5, 6}

### Empty set

In [ ]:
my_set.clear()
print(my_set)

set()

### union()

Returns a set that contains all items from the original set, and all items from the specified set(s)

    set.union(set1, set2...)

In [ ]:
x = {2,4,8,16,32}
y = {1,4,9,16,25}
z = {44,55}
u = x.union(y,z)  # x U y U z
print(u)

{32, 1, 2, 4, 8, 9, 44, 16, 55, 25}

### intersection()
Returns a set that contains the similarity between two or more sets

    set.intersection(set1, set2, ...)

In [ ]:
intersect = x.intersection(y)
print(intersect)

{16, 4}

## Dictionaries

* More generally known as an associative array

* Dictionaries are used to store data values in **key:value** pairs.

* Keys are unique

* It is a collection which is ordered, changeable and do not allow duplicates.

* Dictionaries are indexed by keys, which can be any **immutable type**; strings and numbers can always be keys. 


Note: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

    d = { <key>: <value>, <key>: <value>, . . . <key>: <value> }

In [ ]:
d = {'John':2343, 'Bob': 3422, 'Alice': 9843, 'Lisa': 3423}
print(d, type(d))

{'John': 2343, 'Bob': 3422, 'Alice': 9843, 'Lisa': 3423} <class 'dict'>

### Retrieve a value

A value is retrieved from a dictionary by specifying its corresponding key in square brackets ([])

    d([<key>])

In [ ]:
d['Alice']

9843

If you refer to a key that is not in the dictionary, Python raises an exception

In [ ]:
d['Mark']

KeyError: ignored

d.get(<key>) searches dictionary d for <key> and returns the associated value if it is found. If <key> is not found, it returns None

In [ ]:
print(d.get('Mark'))
print(d.get('Alice'))

None
9843

### Adding new entry

In [ ]:
d['Mark'] = 2939
print(d)

{'John': 2343, 'Bob': 3422, 'Alice': 9843, 'Lisa': 3423, 'Mark': 2939}

### Update an entry

In [ ]:
d['Bob'] = 4329
print(d)

{'John': 2343, 'Bob': 4329, 'Alice': 9843, 'Lisa': 3423, 'Mark': 2939}

### Remove an entry

2 ways -

1. ```del dict_name[<key>]```
2. ```dict_name.pop(<key>)```

In [ ]:
del d['John']
print(d)

{'Bob': 4329, 'Alice': 9843, 'Lisa': 3423, 'Mark': 2939}

In [ ]:
bob = d.pop('Bob')
print(d)
print(bob)

{'Alice': 9843, 'Lisa': 3423, 'Mark': 2939}
4329

The del keyword can also delete the dictionary completely

In [ ]:
del d
print(d)

NameError: ignored

Let's create a new dictionary

In [ ]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}

Let's use a loop to enter items in dictionary

In [ ]:
for i in range(6,15):
    squares [i] = i**2

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}

In [ ]:
squares[12]

144

### Retrieve all key-value pairs

In [ ]:
squares.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196)])

In [ ]:
squares.keys()  # Retrieve all keys

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])

In [ ]:
squares.values()    # Retrieve all values

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196])

### Looping through dictionaries

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method

In [ ]:
for item in squares.items():
    print(item)

(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)
(10, 100)
(11, 121)
(12, 144)
(13, 169)
(14, 196)

In [ ]:
for k in squares.keys():
    print(squares[k])

11
14
19
26
35
46
59
74
91
110
131
154
179
206

There are no restrictions on dictionary values

In [ ]:
data = {1:['Isha', 34, 'Mumbai'], 2:2, 3:['Sam', 28, 'Delhi']}
print(data)

{1: ['Isha', 34, 'Mumbai'], 2: 2, 3: ['Sam', 28, 'Delhi']}

In [ ]:
data[3]

['Sam', 28, 'Delhi']

### Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
data = {
    1:{
        'Name':'Isha',
        'Age':34,
       'Location':'Mumbai',
    },
    2:{
        'Name':'Raj',
       'Age': 35,
       'Location': 'Bangalore',
    },
    3:{
        'Name':'Sam',
       'Age': 28,
       'Location': 'Delhi',
    }
}

In [ ]:
data

{1: {'Age': 34, 'Location': 'Mumbai', 'Name': 'Isha'},
 2: {'Age': 35, 'Location': 'Bangalore', 'Name': 'Raj'},
 3: {'Age': 28, 'Location': 'Delhi', 'Name': 'Sam'}}

In [ ]:
data[1]

{'Age': 34, 'Location': 'Mumbai', 'Name': 'Isha'}

In [ ]:
data[1]['Name']

'Isha'

In [ ]:
data[2]['Location']

'Bangalore'