<a href="https://colab.research.google.com/github/snaily16/Tutorials/blob/master/Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics


# About Python

*   An interpreted high-level general-purpose programming language
*   Easy to use syntax
*   Cross-platform language
*   Used for web development, data science, software development, etc.

# Simple Helloworld program

In [1]:
print('Hello World!!!')

Hello World!!!

# Installation

* Python comes pre-installed in Linux platforms and Mac OS, you can check it by typing - ``` python --version ```



*   **For Windows** 


> 1.   Download the [latest version from here](https://www.python.org/downloads/)
2.   Run the installer file.
3.   During the install process, check **Add Python to environment variables.** This will add Python to environment variables, and you can run Python from any part of the computer.
4.   Once you finish the installation process, you can run Python.


*   **To install [Jupyter notebook](https://jupyter.org/install)**

> 1.   Open cmd and type - ```pip install notebook```
2. To start the notebook - type ```jupyter notebook ``` or ```python -m notebook ```

## Run Python
So now that python is installed we can run it in 3 ways -
1. Python Command Line 
  * To run or test a short code without writing in a file we can use this command line python interpreter tool. 
 * Open CMD and type ```python```

2. Python Script
  * To run a python code written in a file, save the file by **.py** extension
  * Run it in CMD - ``` python filename.py```

3. Jupyter Notebook 
  * Start jupyter notebook - ```jupyter notebook ``` or ```python -m notebook ```
  * You should see the notebook open in your browser.

# Python Syntax

In [2]:
print("any message")
print('hello')

any message
hello

In [4]:
print('hi', end=', ')
print('hello')

hi, hello

## Comments in Python

In [5]:
# This is single line comment

# Python don't 
# have seperate
# syntax for 
# multiline comments

In [6]:
'''
a
b
c
'''

'\na\nb\nc\n'

## Assigning Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [7]:
a = 400
b = 'Python' # String variables can be declared either by using single or double quotes
c = 3 + 4.0 + 5
d = 3+2j
print(a, b, c, d)

400 Python 12.0 (3+2j)

### Assigning values to multiple variables in single line

In [8]:
x,y,z = 3, 4.0, 'some string' # multiple values to multiple variables

In [9]:
print(x, y, z)

3 4.0 some string

In [10]:
m = n = "same"    # same value to multiple variables
print(x,y,z)
print(m,n)

3 4.0 some string
same same

You can see here that each print statement automatically creates a new line.

### Get Variable Type

You can get the data type of a variable with the type() function.

In [11]:
a = 400
b = 'Python' # String variables can be declared either by using single or double quotes
c = 3 + 4.0 + 5
d = 3+2j
print(a, b, c, d)

400 Python 12.0 (3+2j)

In [12]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

### Casting
If you want to specify the data type of a variable, this can be done with casting.

In [13]:
num = 3
str_num = str(num)
float_num = float(num)

print(num, type(num))
print(str_num, type(str_num))
print(float_num, type(float_num))

3 <class 'int'>
3 <class 'str'>
3.0 <class 'float'>

## Indentation

Indentation refers to the spaces at the beginning of a code line. It is very important in Python. 

It uses indentation to indicate a block of code.

In [14]:
a=10
if a>5:
  print('Inside 1st if statement')

if a>15:
  print('Inside 2nd if statement')

print('Outside the if statement')

Inside 1st if statement
Outside the if statement

In [16]:
if a>5:
    print('a is greater than 5')

a is greater than 5

In [17]:
if a>5:
  print('a is greater than 5')
        print('Extra indentation')

IndentationError: ignored

## User Inputs
Syntax: ```input("prompt_msg")```
where prompt_msg is the string we wish to display on the screen. It is optional

In [18]:
x=input()

400

In [19]:
x

'400'

In [20]:
a = input('Enter a number: ')
print(a, type(a))
b = int(input('Enter a number: '))
print(b, type(b))

Enter a number: 199
199 <class 'str'>
Enter a number: 388
388 <class 'int'>

# Operators

### Arithmetic Operators
To perform common mathematical operations:

    + 	Addition 	x + y 	
    - 	Subtraction 	x - y 	
    * 	Multiplication 	x * y 	
    / 	Division 	x / y 	
    % 	Modulus 	x % y 	
    ** 	Exponentiation 	x ** y 	
    // 	Floor division 	x // y

In [22]:
399/4

99.75

In [23]:
399//4

99

In [24]:
40%3

1

In [21]:
2**10   # prints 2^10

1024


### Comparison Operators
Python supports the usual comparison operators as:

    Equals: a == b
    Not Equals: a != b
    Less than: a < b
    Less than or equal to: a <= b
    Greater than: a > b
    Greater than or equal to: a >= b

In [25]:
a=10 
b=30
a==b

False

In [26]:
a<b

True

### Logical Operators
Logical operators are used to combine conditional statements

    and, or, not

In [27]:
a=10
b=20
a==10 and b==20

True

In [28]:
a!=10 or b==20

True

In [29]:
x = True
not x

False

### Assignment Operators

Used to assign values to variables

    = 	x = 5 	x = 5 	
    += 	x += 3 	x = x + 3 	
    -= 	x -= 3 	x = x - 3 	
    *= 	x *= 3 	x = x * 3 	
    /= 	x /= 3 	x = x / 3 	
    %= 	x %= 3 	x = x % 3

In [30]:
a=1
a+=1
a

2

In [31]:
x=3
x/=3 # x = x/3
x

1.0

### Bitwise Operators

Used to compare (binary) numbers:

    &   AND
    |   OR
    ^   XOR 
    ~   NOT 
    <<  Zero fill left shift
    >>  Signed right shift

In [33]:
10 & 13

8

In [32]:
print(bin(10))
print(bin(13))

0b1010
0b1101

In [34]:
3 << 1
print(bin(3))
print(bin(3<<1))
print(bin(3<<3))

0b11
0b110
0b11000

### Membership operators

Used to test whether a value or variable is found in a sequence

In [35]:
string='Hello World'
print('e' in string)

True

In [36]:
print('h' not in string)
print('H' not in string)

True
False

### Identity Operators

Used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location


    is and is not

In [37]:
x = z = 'hello'
y = 'Hello'
print(x is y)
print(x is z)
print(z is not y)

False
True
True

## Conditions statement (if...else)

In [42]:
# find the largest number 
a = int(input('num1: '))
b = int(input('num2: '))

if (a > b):
    print('num1 is largest')
elif a < b: # else if
    print('num2 is largest')
else:
    print('Both are equal')
print('End')

num1: 87
num2: 98
num2 is largest
End

In [40]:
# short hand if else
a=10
b=20
print("num1 is largest") if a > b else print("num2 is largest")

num2 is largest

In [43]:
if a > b: print('A is largest')

## Loops

###The while Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [44]:
i=1
while (i<10):
    print (i)
    i += 1

1
2
3
4
5
6
7
8
9

#### Break Statement
With the break statement we can stop the loop even if the while condition is true

In [45]:
# break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

#### Continue statement
With the continue statement we can stop the current iteration, and continue with the next

In [46]:
# continue statement
i = 0
while i < 6:
  i += 1 # i=i+1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [47]:
i=0
while i<3:
    print(i)
    i+=1
else:
    print('End of while loop')

0
1
2
End of while loop

### The For Loop

In [54]:
for i in 'abcdefgh':
    print(i, end = ' ')

a b c d e f g h

### Range function

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

    Syntax: range(start, stop, step)

In [55]:
range(0,10,-1)

range(0, 10, -1)

In [52]:
range(1,10,2)

range(1, 10, 2)

In [57]:
for i in range(4,0,-1):  # i=0 ; i<4
    print(i)

4
3
2
1

In [53]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9